[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tabulate = "*"
pydantic = "*"
censo = {extras = ["scripts"], file = "."}
pytest = "*"

[dev-packages]
pytest = "*"
tox = "*"

[requires]
python_version = "3.12"
